body{
    background: #0000003c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner{
    color:white;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
    padding: 50px;
    background-color: #1f2937;
}
