body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f3f5;
}
.faq-box {
    width: 700px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border-radius: 12px;
}
.faq-item{
    margin: 40px auto;
    padding: 20px ;
    background: rgba(128, 128, 128, 0.415);
    border-radius: 12px;
    border: 1px solid rgba(128, 128, 128, 0.549);
    cursor:pointer;
}

h2{
    text-align: center;
}
h3:active ~p{
    color:hsl(25,100%,50%);
    font-weight: bold;
}

p:active {
    color: hsl(15, 100%, 60%);
    font-weight: bold;
}
h3:active{
   color: hsl(205, 80%, 45%);
   cursor:pointer;
}

.blockquote{
    width: 760px;
    background: white;
    margin: 50px 50px;
    padding: 20px 40px;
    text-align: left;
    border-radius: 5px;
    border-left: 6px solid rgba(0, 94, 255, 0.808);
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    font-size:35px;
}
#trietly{
    position: relative;
    margin: 0;
    padding-left: 60px;
    padding-right: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:  italic;
    font-size: 26px;
    line-height: 1.8;
}
#typhu{
    font-weight:700;
    color: gray;
    text-align: right;
    margin-top:30px;
    font-size: 18px;
    font-weight: bold;
}

#trietly::before{
    content: "“";
    position:absolute;
    left:0;
    top:0;
    color: gray;
    font-size: 55px;
    line-height: 1;
}

#trietly::after{
    content: "”";
    position: absolute;
    right:0;
    bottom:0;
    color: gray;
    font-size:45px;
    margin-left:12px;
    line-height:1;
}
#trietly::first-letter{
    font-size:56px;
    color:rgba(0, 72, 255, 0.948);
    font-weight: bold;
}
