body{
    font-family: Helvetica, Arial, sans-serif;
}
#authorCard{
    background: white;
    text-align: left;
    border:1px solid rgba(128, 128, 128, 0.458);
    width: 350px;
    margin: 20px;
    padding: 20px;
}

.tentacgia{
    font-size: 1.6rem;
    font-weight: 900;
}

.vaitro{
    color: gray;
}

.thongtin{
    line-height: 1.5;
}
